<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>壹站-设计平台</title>
    <meta name="description" content="壹站-设计平台"/>
    <meta name="keywords" content="壹站-设计平台"/>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="css/amazeui.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/amazeui.min.js"></script>
    <script type="text/javascript" src="js/db.js"></script>
    <script type="text/javascript" src="js/template-web.js"></script>
    <script type="text/javascript" src="js/application.js"></script>

</head>
<body>
<div data-am-widget="slider" class="am-slider am-slider-default" data-am-slider='{}'>
    <ul class="am-slides">
        <li><img src="images/banner4.jpg"></li>
        <li><img src="images/banner2.jpg"></li>
        <li><img src="images/banner1.jpg"></li>


    </ul>
</div>




<div data-am-widget="intro" class="am-intro am-cf am-intro-default" id="normal">
</div>

<div class="communityPage-publish-btn cmn-theme-bgcolor" id="communityPage-publish-btn"><a id="down_order"
                                                                                           href="add_order.html"
                                                                                           style="color: white">下单</a>
</div>

<div class="h50"></div>
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default footer " id="tab1">

</div>


</body>
<script id="templateId" type="text/html">
{{each list item}}
{{if item.money > 0}}
	<div class="am-g am-intro-bd">
        <a href="content.html?id=">
            <div class="am-intro-left am-u-sm-3"><img src="images/boy.png"/></div>
            <div class="am-intro-right am-u-sm-9">
                <div class="text">
                    <span style="float: left;color: black;font-size: 16px"><i>{{item.name}}</i></span>
                    <span class="fr black" style="margin-right: 2%"><i>{{if item.status_ == 0}}待接单{{else if item.status_ == 1}}进行中{{else if item.status_ == 2}}已完成{{/if}}</i></span>
                </div>
                <p>{{item.job}}{{item.num}}张</p>
                <div class="text">
                    <span class="fl">{{item.timestamp}}</span>
                    <span class="fr"><i>赚</i><i class="price">{{item.money}}</i><i>元</i></span>
                </div>
            </div>
        </a>
    </div>
{{/if}}
{{/each}} 
</script>
<script type="text/javascript">

var db = getCurrentDb(); //初始化数据库
db.transaction(function(trans) { //启动一个事务，并设置回调函数
    //执行创建表的Sql脚本
    trans.executeSql("select * from my_order;", [], function(trans, result) {
    	var list = {'list': result.rows};
    	var html = template('templateId', list);
    	document.getElementById('normal').innerHTML = html;
    }, function(trans, message) {
    });
    
});
</script>
</html>
